// Medidas
$CellphoneWidth: 360px;
$CellphoneHeight: 740px;
$IconMeasures:50px;
// Colors
$HeaderFootColor: #9ff091;
$BackgroundSelectionHover: #E6344A;
$DisplayIcon: inline-block;
$BackPhotoColor: #930017;
$BackgroundPageColor: #711f92;
$BackgroundColor: #3691d6;
$InformationCOlor: #930017;
$TittleColor: #930017;
//Fonts
$Inter: "../../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf";
$PtSansRegular: "../../assets/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf";

@font-face {
    font-family: 'Inter';
    src:url($Inter);
}
@font-face {
    font-family: 'PtSansRegular';
    src:url($PtSansRegular);
}
//HEADER
header{
	background-color: $HeaderFootColor;
	font-size: 30px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

header nav {
	background: $HeaderFootColor;
	z-index:1000;
	max-width: 1000px;
	width:90%;
	margin:20px auto;
	align-items: inherit;
}

header nav ul{
	display: flex;
	margin: auto;
	padding-left: 0px;
	align-content: inherit;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
 
header nav ul li:hover {
	background:$BackgroundSelectionHover;
	color: wheat;
}
 
header nav ul li a {
	color:rgb(175, 70, 38);
	display:block;
	text-decoration:none;
	padding: 20px;
	align-self: center;
}
 
header nav ul li a:hover {
	color:rgb(255, 255, 255);
	display:block;
	text-decoration:none;
	align-self: center;
}


header nav ul li a span {
	margin-right:10px;
	margin-top:10px;
	align-content:center;
}
 
//BODY
// * {
// 	padding:0;
// 	margin:0;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// }
 
body {background:$BackgroundColor;}

//container
// section#container{
// 	background-color: $BackgroundPageColor;
// 	width: 80%;
// 	margin-left: 10%;
// 	margin-right: 10%;
// 	color:rgb(255, 255, 255);
// 	font-family: "Inter";
// }


//footer
footer{
	background-color: $HeaderFootColor;
	font-size: 25px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

footer nav {
	background: $HeaderFootColor;
	max-width: 1000px;
	width:90%;
	margin-left: auto; 
	margin-right: auto;
	padding: auto;
}
footer nav ul{
	display: flex;
	margin: auto;
	padding-left: 0px;
	align-content: inherit;
}
 
footer nav ul li {
	display:inline-block;
	position: relative;
	width: 80%;
	align-content: center;
}
 
footer nav ul li:hover {
	background:$BackgroundSelectionHover;
	color: wheat;
}
 
footer nav ul li a {
	color:rgb(175, 70, 38);
	display:block;
	text-decoration:none;
	padding: 10px;
	align-self: center;
}
 
footer nav ul li a:hover {
	color:rgb(255, 255, 255);
	display:block;
	text-decoration:none;
	align-self: center;
}


footer nav ul li a span {
	margin-right:10px;
	margin-top:0px;
	align-content:center;
}
footer h1{
	text-align: center;
	padding-top: 10px;
}
//icons
span.home_icon{
    background: url(../../assets/icons/curriculum.png) no-repeat center center;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.study_icon{
    background: url(../../assets/icons/education.png) no-repeat center center;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.projects_icon{
    background: url(../../assets/icons/projects.png) no-repeat center center;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.github_icon{
    background: url(../../assets/icons/github.png) ;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.fb_icon{
    background: url(../../assets/icons/facebook.png) ;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.twitter_icon{
    background: url(../../assets/icons/twitter.png) ;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
span.insta_icon{
    background: url(../../assets/icons/IN.png) ;
    background-size:cover;
    width: $IconMeasures;
    height: $IconMeasures;
    display: $DisplayIcon;
}
//eror 404

#error-photo{
	background: url("../../assets/images/erorr.png");
	background-size: 300px 300px;
	width: 300px;
	height: 300px;
	display: $DisplayIcon;
	margin-left: 40%;
}


//home
//principal info
.principal_info{
	background-color: $BackgroundPageColor;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Inter";
	display: flex;
}
.principal_info div{
	//border: 3px #ccc solid;
	padding: 10px;
}
.princi_box2 .nombre{
	color: rebeccapurple;
	background-color: rosybrown;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 2%;
}

.princi_box1{
	flex: 1;
	height: 600px;
}
.princi_box2{
	margin: auto;
	flex:2;
	text-align: center;
	font-size: 30px;
}
div .listaInfo{
	list-style:none;
}
//secundary info
.sec_info{
	background-color: $BackgroundPageColor;
	margin-left: 10%;
	margin-right: 10%;
	font-family: "Inter";
	display: flex;
}
.sec_info div{
	//border: 3px #ccc solid;
	padding: 10px;
}
.sec_box2 .nombre{
	color: rebeccapurple;
	background-color: rosybrown;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 2%;
}

.sec_box1{
	flex: 1;
	height: 600px;
	order: 2;
}
.sec_box2{
	margin: auto;
	flex:2;
	text-align: center;
	font-size: 30px;
	order: 1;
}

#alberto1-photo{
	background: url("../../assets/images//alberto1.jpg");
	background-size:cover ;
	width: 100%;
	height: 100%;
	display: $DisplayIcon;
}
#alberto2-photo{
	background: url("../../assets/images//alberto2.jpg");
	background-size:cover ;
	width: 100%;
	height: 100%;
	display: $DisplayIcon;
		
}
//Formacion

//Licenciatura
	.lic_info{
		background-color: $BackgroundPageColor;
		margin-left: 10%;
		margin-right: 10%;
		font-family: "Inter";
		display: flex;
	}
	.lic_info div{
		//border: 3px #ccc solid;
		padding: 10px;
	}
	.princi_box2 .nombre{
		color: rebeccapurple;
		background-color: rosybrown;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 2%;
	}
	.lic_info .princi_box1{
		flex: 1;
		height: auto;
	}
	.lic_info .princi_box2{
		margin: auto;
		flex:2;
		text-align: center;
		font-size: 30px;
	}
	div .listaInfo{
		list-style:none;
	}
	.lic_info .princi_box3{
		flex: 1;
		height: auto;
	}
	#unam-photo{
		background: url("../../assets/images/UNAM.png");
		background-size: cover;
		width: 400px;
		height: 450px;
		display: $DisplayIcon;
	}
	#fi-photo{
		background: url("../../assets/images/fi.png");
		background-size:cover ;
		width: 400px;
		height: 450px;
		display: $DisplayIcon;
	}
//secu-prepa
	.secu_info{
		background-color: $BackgroundPageColor;
		margin-left: 10%;
		margin-right: 10%;
		font-family: "Inter";
		display: flex;
	}
	.secu_info div{
		//border: 3px #ccc solid;
		padding: 10px;
	}
	.princi_box2 .nombre{
		color: rebeccapurple;
		background-color: rosybrown;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 2%;
	}
	.secu_info .princi_box1{
		flex: 1;
		height: auto;
		align-content: center;
	}
	.secu_info .princi_box2{
		margin: auto;
		flex:2;
		text-align: center;
		font-size: 30px;
	}
	
	#piaget-photo{
		background: url("../../assets/images/piaget.png");
		background-size: cover;
		width: 550px;
		height: 220px;
		display: $DisplayIcon;
	}
	#fi-photo{
		background: url("../../assets/images/fi.png");
		background-size:cover ;
		width: 400px;
		height: 450px;
		display: $DisplayIcon;
	}
//primaria agora
	.prim1_info{
		background-color: $BackgroundPageColor;
		margin-left: 10%;
		margin-right: 10%;
		font-family: "Inter";
		display: flex;
	}
	.prim1_info div{
		//border: 3px #ccc solid;
		padding: 10px;
	}
	.princi_box2 .nombre{
		color: rebeccapurple;
		background-color: rosybrown;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 2%;
	}
	.prim1_info .princi_box1{
		flex: 1;
		order: 2;
		height: auto;
		align-content: center;
	}
	.prim1_info .princi_box2{
		margin: auto;
		flex:2;
		text-align: center;
		font-size: 30px;
	}

	#agora-photo{
		background: url("../../assets/images/agora.png");
		background-size: cover;
		width: 700px;
		height: 240px;
		display: $DisplayIcon;
	}
	
//primaria cet
	.prim2_info{
		background-color: $BackgroundPageColor;
		margin-left: 10%;
		margin-right: 10%;
		font-family: "Inter";
		display: flex;
	}
	.prim2_info div{
		//border: 3px #ccc solid;
		padding: 10px;
	}
	.princi_box2 .nombre{
		color: rebeccapurple;
		background-color: rosybrown;
		margin-left: 6%;
		margin-right: 6%;
		margin-bottom: 2%;
	}
	.prim2_info .princi_box1{
		flex: 1;
		height: auto;
		align-content: center;
	}
	.prim2_info .princi_box2{
		margin: auto;
		flex:2;
		text-align: center;
		font-size: 30px;
	}

	#cet-photo{
		background: url("../../assets/images/cet.png");
		background-size: cover;
		width: 750px;
		height: 240px;
		display: $DisplayIcon;
	}

















