@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "PtSansRegular";
  src: url("../../assets/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf");
}
header {
  background-color: #9ff091;
  font-size: 30px;
  width: 100%;
}

header nav {
  background: #9ff091;
  z-index: 1000;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto;
  align-items: inherit;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background: #E6344A;
  color: wheat;
}

header nav ul li a {
  color: #af4626;
  display: block;
  text-decoration: none;
  padding: 20px;
  align-self: center;
}

header nav ul li a:hover {
  color: white;
  display: block;
  text-decoration: none;
  align-self: center;
}

header nav ul li a span {
  margin-right: 10px;
  margin-top: 10px;
  align-content: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #3691d6;
}

section#container {
  background-color: #711f92;
  width: 80%;
  margin-left: 10%;
  color: white;
  font-family: "Inter";
}

section#container h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

section#container .Title {
  padding-top: 20px;
}

section#container h4 {
  font-size: 15px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 4%;
  text-align: center;
  margin-top: 10px;
}

section#container ul {
  padding-left: 10%;
  text-decoration: none;
}

.elements {
  display: flex;
  align-items: center;
  padding-left: 25%;
}

.footer {
  margin-top: 20px;
  padding-top: 20px;
  position: inherit;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #9ff091;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.footer div a {
  text-decoration: none;
  color: #af4626;
}

.footer div P {
  text-decoration: none;
  color: white;
}

.console {
  margin-top: 3%;
}

.elements1 div {
  padding-right: 3%;
  width: 50%;
}

span.home_icon {
  background: url(../../assets/icons/curriculum.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.study_icon {
  background: url(../../assets/icons/education.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.projects_icon {
  background: url(../../assets/icons/projects.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  body {
    padding-top: 80px;
  }

  .menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #E6344A;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
  }

  .menu_bar span {
    float: right;
    font-size: 40px;
  }

  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: -100%;
    margin: 0;
    overflow: scroll;
  }

  header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  header nav ul li a {
    display: block;
  }

  header nav ul li:hover .children {
    display: none;
  }

  header nav ul li .children {
    width: 100%;
    position: relative;
  }

  header nav ul li .children li a {
    margin-left: 20px;
  }

  header nav ul li .caret {
    float: right;
  }

  section#container {
    background-color: #711f92;
    width: 80%;
    margin-left: 10%;
    color: white;
    font-family: "Inter";
  }

  section#container h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  section#container .Title {
    padding-top: 20px;
  }

  section#container h4 {
    font-size: 15px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    text-align: center;
    margin-top: 10px;
  }

  section#container ul {
    padding-left: 10%;
    text-decoration: none;
  }

  .Title {
    background-color: #930017;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  section#container .escolar-information {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #930017;
  }

  .photo-block {
    background-color: #930017;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%;
  }

  .photo-block div {
    display: flex;
    justify-content: center;
  }

  .footer {
    margin-top: 20px;
    padding-top: 20px;
    position: inherit;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #E6344A;
  }

  .footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer div a {
    padding-top: 5px;
    text-decoration: none;
    color: #fff;
  }

  .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .elements div {
    padding-right: 3%;
    width: 50%;
    text-align: justify;
  }
}

/*# sourceMappingURL=style.css.map */
