@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: "PtSansRegular";
  src: url("../../assets/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf");
}
header {
  background-color: #9ff091;
  font-size: 30px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header nav {
  background: #9ff091;
  z-index: 1000;
  max-width: 1000px;
  width: 90%;
  margin: 20px auto;
  align-items: inherit;
}

header nav ul {
  display: flex;
  margin: auto;
  padding-left: 0px;
  align-content: inherit;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

header nav ul li:hover {
  background: #E6344A;
  color: wheat;
}

header nav ul li a {
  color: #af4626;
  display: block;
  text-decoration: none;
  padding: 20px;
  align-self: center;
}

header nav ul li a:hover {
  color: white;
  display: block;
  text-decoration: none;
  align-self: center;
}

header nav ul li a span {
  margin-right: 10px;
  margin-top: 10px;
  align-content: center;
}

body {
  background: #3691d6;
}

footer {
  background-color: #9ff091;
  font-size: 25px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

footer nav {
  background: #9ff091;
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

footer nav ul {
  display: flex;
  margin: auto;
  padding-left: 0px;
  align-content: inherit;
}

footer nav ul li {
  display: inline-block;
  position: relative;
  width: 80%;
  align-content: center;
}

footer nav ul li:hover {
  background: #E6344A;
  color: wheat;
}

footer nav ul li a {
  color: #af4626;
  display: block;
  text-decoration: none;
  padding: 10px;
  align-self: center;
}

footer nav ul li a:hover {
  color: white;
  display: block;
  text-decoration: none;
  align-self: center;
}

footer nav ul li a span {
  margin-right: 10px;
  margin-top: 0px;
  align-content: center;
}

footer h1 {
  text-align: center;
  padding-top: 10px;
}

span.home_icon {
  background: url(../../assets/icons/curriculum.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.study_icon {
  background: url(../../assets/icons/education.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.projects_icon {
  background: url(../../assets/icons/projects.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.github_icon {
  background: url(../../assets/icons/github.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.fb_icon {
  background: url(../../assets/icons/facebook.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.twitter_icon {
  background: url(../../assets/icons/twitter.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

span.insta_icon {
  background: url(../../assets/icons/IN.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: inline-block;
}

#error-photo {
  background: url("../../assets/images/erorr.png");
  background-size: 300px 300px;
  width: 300px;
  height: 300px;
  display: inline-block;
  margin-left: 40%;
}

.principal_info {
  background-color: #711f92;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Inter";
  display: flex;
}

.principal_info div {
  border: 3px #ccc solid;
  padding: 10px;
}

.princi_box2 .nombre {
  color: rebeccapurple;
  background-color: rosybrown;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 2%;
}

.princi_box1 {
  flex: 1;
  height: 600px;
}

.princi_box2 {
  margin: auto;
  flex: 2;
  text-align: center;
  font-size: 30px;
}

#alberto-photo {
  background: url("../../assets/images//alberto1.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
